<nav class="px-8 py-4 flex-none md:flex md:justify-between md:content-center">
  <div class="flex-none md:flex">
    <div class="flex justify-between md:inline-block items-center">
      <a class="" href="<%= root_path %>">
        <%= image_tag webpack_asset_path('images/goclimateneutral_logo.svg'), alt: 'GoClimateNeutral' %>
      </a>
      <button class="button-transparent md:hidden">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- base menu --> 
    <ul class="text-center md:text-left pt-5 mt-5 border-t md:border-0 md:inline-flex md:items-center md:pt-0 md:mt-0">
      <li class="py-3 md:py-3 md:px-4 md:pl-12 text-lg"><%= link_to t('navigation.gift_cards'), gift_cards_path %></li>
      <li class="py-3 md:py-3 md:px-4 text-lg"><%= link_to t('our_projects'), projects_path %></li>
      <li class="py-3 md:py-3 md:px-4 text-lg"><%= link_to t('for_business'), business_path %>
      <li class="py-3 md:py-3 md:px-4 text-lg"><%= link_to t('about_us'), about_path %></li>
    </ul>

    <!-- Menu for small screens -->
    <ul class="text-center md:hidden">
      <% if user_signed_in? %> 
        <li class="py-3 md:py-3 md:px-4 text-lg" role="separator" class="divider"></li>
        <li class="py-3 md:py-3 md:px-4 text-lg"><a href="<%= dashboard_path %>">Dashboard</a></li>
        <li class="py-3 md:py-3 md:px-4 text-lg"><a href="<%= edit_user_registration_path %>"><%= t('settings') %></a></li>
        <li class="py-3 md:py-3 md:px-4 text-lg" role="separator" class="divider"></li> 
        <li class="py-3 md:py-3 md:px-4 text-lg"><%= link_to(I18n.t('log_out'), destroy_user_session_path, :method => :delete) %></li>
      <% else %>
        <li class="py-3 md:py-3 md:px-4 text-lg"><%= link_to(I18n.t('log_in'), new_user_session_url)%></li>
        <li class="py-3 md:py-3 md:px-4 text-lg"><div class="navbar-inner"><%= link_to(I18n.t('views.shared.header.sign_up'), root_url, class: 'btn btn-success')%></div></li>
      <% end %>
    </ul>
  </div>

  <!-- Menu for big screens -->
  <ul class="hidden md:flex md:items-center">
    <% if user_signed_in? %> 
        <li class="droppy py-6"> 
          <label class="" aria-haspopup="true" aria-expanded="false">
            <%= current_user.user_name.nil? || current_user.user_name.empty? ? current_user.email : current_user.user_name %> <i class="fa fa-caret-down" aria-hidden="true"></i>
            <input type="checkbox">
            <ul class="droppy-menu droppy-menu-right" aria-labelledby="user-menu"> 
              <li><a href="<%= dashboard_path %>">Dashboard</a></li>
              <li><%= link_to t('views.shared.header.navigation.offset_flight'), new_flight_footprint_path %></li>
              <li><a href="<%= edit_user_registration_path %>"><%=t 'settings' %></a></li>
              <hr>
              <li><%= link_to(I18n.t('log_out'), destroy_user_session_path, :method => :delete) %></li> 
            </ul> 
          </label> 
        </li>
    <% else %>
      <li><%= link_to(I18n.t('log_in'), new_user_session_url)%></li>
      <li><div class="navbar-inner"><%= link_to(I18n.t('views.shared.header.sign_up'), root_url, class: 'btn btn-success')%></div></li>
    <% end %>
  </ul>
</nav>
