<h1>New flight offset</h1>

<%= form_with url: admin_lifestyle_calculators_path, method: :post, model: @calculator do |f| %>
  <%= f.hidden_field :country %>

  <% if @calculator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculator.errors.count, "error") %> prohibited this flight offset from being saved:</h2>

      <ul>
      <% @calculator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :country, 'Country' %>
    <p class="form-control-static">
      <%= ISO3166::Country.new(@calculator.country) %>
    </p>
  </div>

  <%= render 'options_field', field: 'region' %>

  <%= render 'options_field', field: 'home' %>

  <%= render 'options_field', field: 'heating' %>

  <%= render 'options_field', field: 'house_age' %>

  <%= render 'options_field', field: 'green_electricity' %>

  <%= render 'options_field', field: 'food' %>

  <%= render 'options_field', field: 'car_type' %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Values available in formulas</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><code>region</code> = value associated with option that the user selected</li>
        <li><code>home</code> = value associated with option that the user selected</li>
        <li><code>heating</code> = value associated with option that the user selected</li>
        <li><code>house_age</code> = value associated with option that the user selected</li>
        <li><code>green_electricity</code> = value associated with option that the user selected</li>
        <li><code>food</code> = value associated with option that the user selected</li>
        <li><code>car_type</code> = value associated with option that the user selected</li>
        <li><code>region_answer</code> = name of the option that the user selected
        <li><code>home_answer</code> = name of the option that the user selected
        <li><code>heating_answer</code> = name of the option that the user selected
        <li><code>house_age_answer</code> = name of the option that the user selected
        <li><code>green_electricity_answer</code> = name of the option that the user selected
        <li><code>food_answer</code> = name of the option that the user selected
        <li><code>car_type_answer</code> = name of the option that the user selected
        <li><code>car_distance</code> = value entered by user
        <li><code>flight_hours</code> = value entered by user
      </ul>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :housing_formula %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :housing_formula, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :food_formula %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :food_formula, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :car_formula %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :car_formula, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :flights_formula %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :flights_formula, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_formula %>
    <div class="input-group">
      <div class="input-group-addon">=</div>
      <%= f.text_field :other_formula, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Update draft', class: 'btn btn-primary' %>
<% end %>

<hr>

<%= link_to 'Back', admin_lifestyle_calculators_path, class: 'btn btn-link' %>
